<div class="col-2 ">
    <button type="button" class="btn btn-secondary mt-3 mb-5 ml-3" data-toggle="modal"
      data-target="#exampleModal"><i class="fas fa-plus"></i> Soạn thư</button>
    <div class="col-12 "><a class="item" href="/draft"><i class="fas fa-paper-plane"></i><b> Thư nháp</a></b></div>
    <div class="col-12 "><a class="item" href="/sent"><i class="fas fa-paper-plane"></i><b> Thư đã gửi</a></b></div>
  </div>