.item{
    color: rgb(73, 73, 73);
    
}
.navbar .logo{
    font-size: 35px;
    margin-left: 10px;
}
.search_box{
    border: 1px solid rgb(61, 65, 68);
    width: 400px;
    line-height: 33px;
    border-radius: 4%;
    margin-left: 10px;
}

.form-group .box{
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    outline: none;
}
.big_box{
    border: 1px solid rgb(202, 202, 202);
    outline: none;
}
.modal-footer .btn_send{
    background-color: rgb(41, 42, 43);
    border: none;
    outline: none;
    color: white;
}

.seen{
    max-width: 50px;
    height: 50px;
    
}




 .avatar{
    width: 40px;
    border-radius: 50%;
   border :1px solid rgb(165, 163, 163);
}



.margin{
    height: 50px;
}

.main{
    height: auto;
    background-color: rgb(177, 177, 177);
}
.image{
    border-radius: 50%;
    align-items: center;
    
}
.title{
    text-align: center;
    color: rgb(66, 66, 66);
    font-family:  sans-serif;
}

.margin_404{
    height: 150px;
    
}
.title_404{
font-size: 200px;
text-shadow: 5px 5px 5px  rgb(92, 92, 92);
}
.body_404{
text-align: center;
}

.trash{
    display: none;
    z-index: 1000;
    
}

.status{
    display: none;
}


.seen:hover .trash{
    display: block;
    z-index: 1000;
}
.seen:hover{
    border :1px solid rgb(219, 217, 217);
    background-color:rgb(247, 247, 247) ;
}

